<div id="search">
  <%= form_tag "/address_search", method: 'get', id: 'search', autocomplete: "off",
               enforce_utf8: false,
               data: {
                 turbo: "true",
                 turbo_frame: "results",
                 turbo_action: "advance",
                 controller: "home",
                 action: "input->home#submit"
               } do |f| %>


    <%= text_field_tag :address, nil, placeholder: 'Enter the address', class: 'mt-5', id: 'address' %>

    <turbo-frame id="results" data-turbo-action="advance">

    </turbo-frame>
  <% end %>
</div>